// MAIN COLORS
$primary-color-light: #fff0f6;
$primary-color: #fcc2d7;
$primary-color-dark: #f783ac;

$secondary-color: #dbe4ff;
$secondary-color-dark: #91a7ff;

$green-color: #67956c;
// FONT-COLOR
$primary-font-gray: #343a40;
$primary-font-light: #6a6875;

// BACKGROUND COLOR
$background-gray: rgb(246, 246, 246);
$background-white: rgb(250, 249, 246);
