.header > figure {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-size: cover;
  background-position: center 55%;
  color: transparent;
  height: 100vh;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.header > figure:nth-child(1) {
  transition: opacity 1s ease-in;
  background-image: url("../img/union.avif");
}
.header > figure:nth-child(2) {
  transition: opacity 1s ease;
  background-image: url("../img/DX9A5564-min.avif");
}
.header > figure:nth-child(3) {
  transition: opacity 1s ease;
  background-image: url("../img/DX9A5320-min.avif");
}
.header > figure:nth-child(4) {
  transition: opacity 1s ease;
  background-image: url("../img/DX9A5759-min.avif");
}
.header > figure:nth-child(5) {
  transition: opacity 1s ease;
  background-image: url("../img/DX9A5300-min.avif");
}

.slider__button--next {
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 2999;
  background-color: rgba($color: #000000, $alpha: 0.3);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

  &:hover,
  &:active {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  @include for-size(phone-only) {
    opacity: 0;
  }
}
.slider__button--prev {
  position: absolute;
  content: "";
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  z-index: 2999;
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: 0.3);
  font-size: 2rem;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

  &:hover,
  &:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
  }

  @include for-size(phone-only) {
    opacity: 0;
  }
}
.slider__button--container {
  top: 100px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  gap: 0.7rem;

  @include for-size(phone-only) {
    top: 70px;
  }
}
.slider__button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 4000;
  border: 1px solid white;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: $primary-color-light;
  }
}
.active {
  background-color: $primary-color-light;
}
