.abscenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border--right {
  border-right: 1px solid $primary-color;
}

.img__footer {
  transform: translateY(55%);
  max-width: 60rem;
  display: inline-block;
  & img {
    width: 100%;
  }
}

.section--animation {
  animation: section-slide 0.8s;
  animation-fill-mode: backwards;
}

.attribution {
  margin-top: 1rem;
}
.attribution > a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  @include for-size(phone-only) {
    font-size: 0.8rem;
  }
}

.wedparty--slide {
  transform: translatey(700px);
}

.pink--background {
  background-color: $primary-color-light;
}
